BODY {
	background-image : url(../concrete.jpg);
	font-size : 18px;
	font-family : "Times New Roman", Times, serif;
	width: auto;
	margin-left: 100px;
	background-repeat: repeat;
	margin-right: 100px;
	margin-top: 50px;
}

.content {
	max-width: 1200px;
	margin: auto;
	padding-top: 10px;
	background-image: url(../../concrete.jpg);
	background-repeat:y;
	background-position:top;
	text-align: center;
}

.audio {
	color: #FFF;
}

.subtitle {
	font-size: 14pt;
}

p {
	color: #FFF;
	font-size: 18px;
}

.songtable {
	border-color: #000;
	border: 5px;
	cellpadding: 20px;
	background-color: #FFC;
	opacity: 0.8;
}

.GermanTitle {
	font-size: x-large;
	font-style: italic;
	color: #000;
	font-weight: bold;
}

.EnglishTitle {
	font-size: x-large;
	color: #000;
	font-style: normal;
}

.EnglishText {
	font-size: 18px;
	font-style: normal;
	color: #000;
}

.GermanText {
	font-size: 18px;
	font-style: italic;
	color: #000;
}

a {
	font-size: x-large;
	text-align: center;
}

td {
	valign: top;
	background-color: #FFC;
	opacity: 0.7;
	font-style: normal;
}

.myButton {
	position: fixed;
	top: 20px;
	right: 20px;
	box-shadow: 1px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #dba11b;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.playButton {
	position: absolute;
	top: 20px;
	right: 20px;
	visibility: visible;
}
